@charset "UTF-8";
#menu_bar p a {
    color: #0D5D2C;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px #CF373B;
    box-shadow: 0px 0px #CF373B;
    border-color: #418AD7;    
}
#menu_bar p a {
    border-color: #6081C7;
}
#menu_bar p a {
    border-color: #4186B7;
}
